[Desktop Entry]
Name=Geary Mail
Name[ar]=بريد Geary
Name[ca]=Geary Mail
Name[ca_ES]=Geary Mail
Name[cs]=Geary E-mail
Name[da]=Geary mail
Name[de]=Geary Mail
Name[el_GR]=Geary ταχυδρομείο
Name[en_CA]=Geary Mail
Name[en_GB]=Geary Mail
Name[eo]=Geary Mail
Name[es]=Correo Geary
Name[es_ES]=Correo Geary
Name[et]=Geary
Name[fa]=Geary Mail
Name[fi]=Geary-sähköposti
Name[fr]=Geary Mail
Name[gl]=Correo Geary
Name[he]=דואר אלקטרוני Geary
Name[hr]=Geary Mail
Name[hu_HU]=Geary Mail
Name[id]=Surat Geary
Name[it]=Geary Mail
Name[ja_JP]=Geary Mail
Name[km_KH]=Geary Mail
Name[lt]=Geary Mail
Name[ms_MY]=Mel Geary
Name[nb]=Geary Epost
Name[nl_NL]=Geary Mail
Name[pl]=Klient poczty Geary
Name[pt]=Geary Mail
Name[pt_BR]=Geary Mail
Name[ro]=Geary Mail
Name[ro_RO]=Geary Mail
Name[ru]=Geary Mail
Name[sk]=Geary Mail
Name[sl]=Geary Mail
Name[sr]=Гери Пошта
Name[sv]=Geary Mail
Name[te]=గేరీ వేగు
Name[tr]=Geary Posta
Name[uk]=Geary Mail
Name[vi]=Dịch vụ mail Geary
Name[zh_CN]=Geary 邮件
Name[zh_TW]=Geary 郵件
GenericName=Mail Client
GenericName[ar]=برنامج البريد
GenericName[ca]=Client de correu
GenericName[ca_ES]=Client de correu
GenericName[cs]=Emailový klient
GenericName[da]=Mailklient
GenericName[de]=Mail-Client
GenericName[el_GR]=Πελάτης ταχυδρομείου
GenericName[en_CA]=Mail Client
GenericName[en_GB]=Mail Client
GenericName[eo]=Retpoŝtilo
GenericName[es]=Cliente de correo
GenericName[es_ES]=Cliente de correo
GenericName[et]=Meili klient
GenericName[fa]=نرم افزار ایمیل
GenericName[fi]=Sähköpostisovellus
GenericName[fr]=Client de messagerie
GenericName[gl]=Cliente de correo
GenericName[he]=לקוח דוא״ל
GenericName[hr]=Klijent za e-mail
GenericName[hu_HU]=Levelezőkliens
GenericName[id]=Klien Surat
GenericName[it]=Client di Posta
GenericName[ja_JP]=メールクライアント
GenericName[km_KH]=កម្ម​វិធី​ផ្ញើ​អ៊ីមែល
GenericName[lt]=Pašto klientas
GenericName[ms_MY]=Klien Mel
GenericName[nb]=Epost klient
GenericName[nl_NL]=E-mailprogramma
GenericName[pl]=Klient poczty
GenericName[pt]=Cliente de correio eletrónico
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Mail Client
GenericName[ro_RO]=Client de email
GenericName[ru]=Почтовый клиент
GenericName[sk]=Poštový klient
GenericName[sl]=Poštni klient
GenericName[sr]=Клијент Е-поште
GenericName[sv]=E-postklient
GenericName[te]=వేగు కక్షిదారు
GenericName[tr]=Posta İstemcisi
GenericName[uk]=Поштовий клієнт
GenericName[vi]=Mail máy trạm
GenericName[zh_CN]=邮件客户端
GenericName[zh_TW]=郵件客戶端
Comment=Send and receive email
Comment[ar]=ارسال و استقبال البريد الالكتروني
Comment[ca]=Envieu y rebeu correus electrònics
Comment[ca_ES]=Envieu y rebeu correus electrònics
Comment[cs]=Odesílání a přijímání e-mailů
Comment[da]=Send og modtag email
Comment[de]=Senden und empfangen
Comment[el_GR]=Αποστολή και λήψη ηλεκτρονικού ταχυδρομείου
Comment[en_CA]=Send and receive e-mail
Comment[en_GB]=Send and receive e-mail
Comment[eo]=Sendi kaj ricevi retpoŝton
Comment[es]=Envíe y reciba correos electrónicos
Comment[es_ES]=Envie y reciba correos electrónicos
Comment[et]=Send and receive email
Comment[fa]=ارسال و دریافت ایمیل‌ها
Comment[fi]=Lähetä ja vastaanota sähköpostia
Comment[fr]=Envoyer et recevoir
Comment[gl]=Enviar e recibir correo
Comment[he]=שליחה וקבלה של דוא״ל
Comment[hr]=Primanje i slanje pošte
Comment[hu_HU]=E-mailek küldése és fogadása
Comment[id]=Kirim dan terima surel
Comment[it]=Invia e ricevi email
Comment[ja_JP]=送受信
Comment[km_KH]=ផ្ញើ​និង​ទទួល​អ៊ីមែល
Comment[lt]=Siųsti ir gauti paštą
Comment[ms_MY]=Hantar dan terima emel
Comment[nb]=Send og motta epost
Comment[nl_NL]=E-mail verzenden en ontvangen
Comment[pl]=Odbiera, tworzy i wysyła wiadomości poczty elektronicznej
Comment[pt]=Enviar e receber mensagens
Comment[pt_BR]=Enviar e receber e-mail
Comment[ro]=Trimite și primește email
Comment[ro_RO]=Trimite si primeste email
Comment[ru]=Отправить и получить почту
Comment[sk]=Odoslať a prijať poštu
Comment[sl]=Pošlji in prejmi epošto
Comment[sr]=Пошаљи и прими пошту
Comment[sv]=Skicka och ta emot e-post
Comment[tr]=Eposta gönder ve al
Comment[uk]=Відправити та отримати електронну пошту
Comment[zh_CN]=发送并接收邮件
Comment[zh_TW]=寄送與收受郵件
Keywords=Email;E-mail;Mail;
Keywords[cs]=Email;E-mail;Mail;
Keywords[da]=Email;E-mail;Mail;Post;
Keywords[de]=Email;E-Mail;Mail;
Keywords[en_GB]=Email;E-mail;Mail;
Keywords[es]=Email;E-mail;Correo electrónico;
Keywords[fa]=Email;E-mail;Mail;
Keywords[fi]=Email;E-mail;Mail;Sähköposti;Maili;
Keywords[fr]=Email;E-mail;Mail;
Keywords[gl]=Correo electrónico;Correo-e;Correo;
Keywords[he]=דוא״ל;דואר אלקטרוני;דואר;
Keywords[hr]=Epošta;E-pošta;Pošta;
Keywords[id]=Surel;Surat;Email;E-mail;
Keywords[it]=Email;E-mail;Mail;
Keywords[lt]=Paštas;Paštas;Paštas;
Keywords[ms_MY]=Emel;E-mel;Mel;
Keywords[nl_NL]=Email;E-mail;Mail;
Keywords[pl]=Email;E-mail;Mail;
Keywords[pt]=Email;E-mail;Mail;
Keywords[pt_BR]=Email;E-mail;Mail;
Keywords[ro_RO]=Email;E-mail;Mail;
Keywords[sl]=Epošta;E-pošta;Pošta;
Keywords[zh_CN]=Email;E-mail;Mail;电子邮件;邮件;邮箱;
Keywords[zh_TW]=Email;E-mail;Mail;電子郵件;電郵;郵件;信件;收信;寄信;
Icon=geary
TryExec=geary
Exec=geary %U
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
Actions=Compose;

[Desktop Action Compose]
Name=Compose Message
Name[ar]=اكتب رسالة جديدة
Name[ca]=Redacta un missatge
Name[ca_ES]=Redacta un missatge
Name[cs]=Napsat zprávu
Name[da]=Skriv besked
Name[de]=Nachricht verfassen
Name[el_GR]=Σύνθεση μηνύματος
Name[en_CA]=Compose Message
Name[en_GB]=Compose Message
Name[eo]=Verki mesaĝon
Name[es]=Redactar mensaje
Name[es_ES]=Redactar mensaje
Name[et]=Koosta uus kiri
Name[fa]=ارسال ایمیل
Name[fi]=Lähetä viesti
Name[fr]=Écrire un message
Name[gl]=Redactar unha mensaxe
Name[he]=יצירת הודעה
Name[hr]=Pisanje poruke
Name[hu_HU]=Üzenet írása
Name[id]=Susun Pesan
Name[it]=Componi Messaggio
Name[ja_JP]=メッセージを作成
Name[km_KH]=តែង​សារ
Name[lt]=Rašyti žinutę
Name[ms_MY]=Gubah Mesej
Name[nb]=Ny melding
Name[nl_NL]=Bericht opstellen
Name[pl]=Utwórz wiadomość
Name[pt]=Escrever mensagem
Name[pt_BR]=Escrever mensagem
Name[ro]=Scrie un mesaj
Name[ro_RO]=Compune Mesaj
Name[ru]=Создать сообщение
Name[sk]=Napísať správu
Name[sl]=Sestavi sporočilo
Name[sr]=Састави Поруку
Name[sv]=Skriv meddelande
Name[te]=సందేశాన్ని సృష్టించండి
Name[tr]=İleti oluştur
Name[uk]=Написати повідомлення
Name[vi]=Soạn tin nhắn
Name[zh_CN]=撰写邮件
Name[zh_TW]=編撰訊息
Exec=geary mailto:
OnlyShowIn=X-Messaging Menu;Unity;

