[Desktop Entry]
Version=1.0
Name=Shotwell
GenericName=Photo Manager
Comment=Organize your photos
Keywords=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
Exec=shotwell %U
Icon=shotwell
Terminal=false
Type=Application
MimeType=x-content/image-dcf;
Categories=Graphics;Photography;GNOME;GTK;
X-GIO-NoFuse=true
X-GNOME-Gettext-Domain=shotwell
X-GNOME-FullName=Shotwell Photo Manager
X-GNOME-FullName[af]=Shotwell Photo Manager
GenericName[af]=Photo Manager
Comment[af]=Organize your photos
Keywords[af]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ar]=Shotwell Photo Manager
GenericName[ar]=Photo Manager
Comment[ar]=Organize your photos
Keywords[ar]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[as]=Shotwell Photo Manager
GenericName[as]=Photo Manager
Comment[as]=Organize your photos
Keywords[as]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ast]=Shotwell Photo Manager
GenericName[ast]=Photo Manager
Comment[ast]=Organize your photos
Keywords[ast]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[bg]=Shotwell Photo Manager
GenericName[bg]=Photo Manager
Comment[bg]=Organize your photos
Keywords[bg]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[bn]=Shotwell Photo Manager
GenericName[bn]=Photo Manager
Comment[bn]=Organize your photos
Keywords[bn]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[bn_IN]=Shotwell Photo Manager
GenericName[bn_IN]=Photo Manager
Comment[bn_IN]=Organize your photos
Keywords[bn_IN]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ca]=Shotwell Photo Manager
GenericName[ca]=Photo Manager
Comment[ca]=Organize your photos
Keywords[ca]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[cs]=Shotwell Photo Manager
GenericName[cs]=Photo Manager
Comment[cs]=Organize your photos
Keywords[cs]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[da]=Shotwell Photo Manager
GenericName[da]=Photo Manager
Comment[da]=Organize your photos
Keywords[da]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[de]=Shotwell Photo Manager
GenericName[de]=Photo Manager
Comment[de]=Organize your photos
Keywords[de]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[el]=Shotwell Photo Manager
GenericName[el]=Photo Manager
Comment[el]=Organize your photos
Keywords[el]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[en_GB]=Shotwell Photo Manager
GenericName[en_GB]=Photo Manager
Comment[en_GB]=Organize your photos
Keywords[en_GB]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[eo]=Shotwell Photo Manager
GenericName[eo]=Photo Manager
Comment[eo]=Organize your photos
Keywords[eo]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[es]=Shotwell Photo Manager
GenericName[es]=Photo Manager
Comment[es]=Organize your photos
Keywords[es]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[et]=Shotwell Photo Manager
GenericName[et]=Photo Manager
Comment[et]=Organize your photos
Keywords[et]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[eu]=Shotwell Photo Manager
GenericName[eu]=Photo Manager
Comment[eu]=Organize your photos
Keywords[eu]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[fi]=Shotwell Photo Manager
GenericName[fi]=Photo Manager
Comment[fi]=Organize your photos
Keywords[fi]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[fr]=Shotwell Photo Manager
GenericName[fr]=Photo Manager
Comment[fr]=Organize your photos
Keywords[fr]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[gl]=Shotwell Photo Manager
GenericName[gl]=Photo Manager
Comment[gl]=Organize your photos
Keywords[gl]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[gu]=Shotwell Photo Manager
GenericName[gu]=Photo Manager
Comment[gu]=Organize your photos
Keywords[gu]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[he]=Shotwell Photo Manager
GenericName[he]=Photo Manager
Comment[he]=Organize your photos
Keywords[he]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[hi]=Shotwell Photo Manager
GenericName[hi]=Photo Manager
Comment[hi]=Organize your photos
Keywords[hi]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[hr]=Shotwell Photo Manager
GenericName[hr]=Photo Manager
Comment[hr]=Organize your photos
Keywords[hr]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[hu]=Shotwell Photo Manager
GenericName[hu]=Photo Manager
Comment[hu]=Organize your photos
Keywords[hu]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ia]=Shotwell Photo Manager
GenericName[ia]=Photo Manager
Comment[ia]=Organize your photos
Keywords[ia]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[id]=Shotwell Photo Manager
GenericName[id]=Photo Manager
Comment[id]=Organize your photos
Keywords[id]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[it]=Shotwell Photo Manager
GenericName[it]=Photo Manager
Comment[it]=Organize your photos
Keywords[it]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ja]=Shotwell Photo Manager
GenericName[ja]=Photo Manager
Comment[ja]=Organize your photos
Keywords[ja]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[kk]=Shotwell Photo Manager
GenericName[kk]=Photo Manager
Comment[kk]=Organize your photos
Keywords[kk]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[km]=Shotwell Photo Manager
GenericName[km]=Photo Manager
Comment[km]=Organize your photos
Keywords[km]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[kn]=Shotwell Photo Manager
GenericName[kn]=Photo Manager
Comment[kn]=Organize your photos
Keywords[kn]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ko]=Shotwell Photo Manager
GenericName[ko]=Photo Manager
Comment[ko]=Organize your photos
Keywords[ko]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ky]=Shotwell Photo Manager
GenericName[ky]=Photo Manager
Comment[ky]=Organize your photos
Keywords[ky]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[lt]=Shotwell Photo Manager
GenericName[lt]=Photo Manager
Comment[lt]=Organize your photos
Keywords[lt]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[lv]=Shotwell Photo Manager
GenericName[lv]=Photo Manager
Comment[lv]=Organize your photos
Keywords[lv]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[mk]=Shotwell Photo Manager
GenericName[mk]=Photo Manager
Comment[mk]=Organize your photos
Keywords[mk]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ml]=Shotwell Photo Manager
GenericName[ml]=Photo Manager
Comment[ml]=Organize your photos
Keywords[ml]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[mr]=Shotwell Photo Manager
GenericName[mr]=Photo Manager
Comment[mr]=Organize your photos
Keywords[mr]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[nb]=Shotwell Photo Manager
GenericName[nb]=Photo Manager
Comment[nb]=Organize your photos
Keywords[nb]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[nl]=Shotwell Photo Manager
GenericName[nl]=Photo Manager
Comment[nl]=Organize your photos
Keywords[nl]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[nn]=Shotwell Photo Manager
GenericName[nn]=Photo Manager
Comment[nn]=Organize your photos
Keywords[nn]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[or]=Shotwell Photo Manager
GenericName[or]=Photo Manager
Comment[or]=Organize your photos
Keywords[or]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[pa]=Shotwell Photo Manager
GenericName[pa]=Photo Manager
Comment[pa]=Organize your photos
Keywords[pa]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[pl]=Shotwell Photo Manager
GenericName[pl]=Photo Manager
Comment[pl]=Organize your photos
Keywords[pl]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[pt]=Shotwell Photo Manager
GenericName[pt]=Photo Manager
Comment[pt]=Organize your photos
Keywords[pt]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[pt_BR]=Shotwell Photo Manager
GenericName[pt_BR]=Photo Manager
Comment[pt_BR]=Organize your photos
Keywords[pt_BR]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ro]=Shotwell Photo Manager
GenericName[ro]=Photo Manager
Comment[ro]=Organize your photos
Keywords[ro]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ru]=Shotwell Photo Manager
GenericName[ru]=Photo Manager
Comment[ru]=Organize your photos
Keywords[ru]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[sk]=Shotwell Photo Manager
GenericName[sk]=Photo Manager
Comment[sk]=Organize your photos
Keywords[sk]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[sl]=Shotwell Photo Manager
GenericName[sl]=Photo Manager
Comment[sl]=Organize your photos
Keywords[sl]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[sr]=Shotwell Photo Manager
GenericName[sr]=Photo Manager
Comment[sr]=Organize your photos
Keywords[sr]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[sv]=Shotwell Photo Manager
GenericName[sv]=Photo Manager
Comment[sv]=Organize your photos
Keywords[sv]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[ta]=Shotwell Photo Manager
GenericName[ta]=Photo Manager
Comment[ta]=Organize your photos
Keywords[ta]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[te]=Shotwell Photo Manager
GenericName[te]=Photo Manager
Comment[te]=Organize your photos
Keywords[te]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[th]=Shotwell Photo Manager
GenericName[th]=Photo Manager
Comment[th]=Organize your photos
Keywords[th]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[tr]=Shotwell Photo Manager
GenericName[tr]=Photo Manager
Comment[tr]=Organize your photos
Keywords[tr]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[uk]=Shotwell Photo Manager
GenericName[uk]=Photo Manager
Comment[uk]=Organize your photos
Keywords[uk]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[vi]=Shotwell Photo Manager
GenericName[vi]=Photo Manager
Comment[vi]=Organize your photos
Keywords[vi]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[zh_CN]=Shotwell Photo Manager
GenericName[zh_CN]=Photo Manager
Comment[zh_CN]=Organize your photos
Keywords[zh_CN]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[zh_HK]=Shotwell Photo Manager
GenericName[zh_HK]=Photo Manager
Comment[zh_HK]=Organize your photos
Keywords[zh_HK]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
X-GNOME-FullName[zh_TW]=Shotwell Photo Manager
GenericName[zh_TW]=Photo Manager
Comment[zh_TW]=Organize your photos
Keywords[zh_TW]=album;camera;cameras;crop;edit;enhance;export;gallery;image;images;import;organize;photo;photographs;photos;picture;pictures;photography;print;publish;rotate;share;tags;video;facebook;flickr;picasa;youtube;piwigo;
